*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
}

#main{
  position: relative;
  background-color: black;
}

                                                   /* LOADER */

#loader{
  color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #0B0B0B;
  padding: 25vh 10vw;
}
#line1-part1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
#line1-part1 h5, #line1-part1 h6{
  font-size: 3vw;
  font-weight: 100;
}
#line1-part1 h5{
  width: 5vw;
  text-align: right;
}
.line{
  line-height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5vw;
}
.line h1{
  font-size: 6.3vw;
  text-transform: uppercase;
  font-weight: 900;
}
.line h2{
  font-size: 4.5vw;
  text-transform: uppercase;
  font-weight: 900;
  animation-name: anime;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
@keyframes anime {
  0%{
    font-family: "Gilroy";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  48%{
    font-family: "Gilroy";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }
  50%{
    font-family: 'serif';
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
    opacity: 1;
  }
  100%{
    font-family: 'serif';
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
    opacity: 0;
  }
}

                                                           /* LOADER END */




                                                  /* NAVBAR */

#page1{
  height: 100vh;
  width: 100%;
 background-color: white;
}

#nav{
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
 padding: 10px 30px;
 padding-top: 20px;
 background-color:rgba(255, 255, 255, 0.867);
}
#Heart-Logo{
  font-size: 35px;
  color: #066718;
 
 }
#nav-1{
  display: flex;
  gap: 5px;
  align-items: center;
}
#nav-1 h2{
  font-size: 35px;
  line-height: 0.5;
  font-weight: 500;
  color: #13922a;
  padding-top: 3px;
  }
  
  #nav-2 {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  #nav-3 button{
    padding:  15px 22px;
    background-color:white ;
    color: #000000;
    border-radius: 100px;
    border: solid 2px black;
    font-size: 16px;
    box-shadow: 5px 5px rgba(125, 120, 120, 0.863);
    position: relative;
  }
  #nav-2 a{
    justify-self: center;
    font-size: 22px;
    font-weight: 500;
  text-decoration: none;
  color: #000000;
  }
  #nav-2 a:hover{
    color: #16a085;
  }
  
  
  #nav-3 button:hover{
    background-color: #16a085;
  }


                                                     /* NAVBAR END */
                                                     
                                                     /* Main Content */
  #Main-Page{
    padding: 25px;
    height:80vh;
    /* background-color: blue; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }    
  #Main-Img img{
    height: 80vh;
  }  
  #Main-Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
  }    
  #Main-Content h2{
    font-size: 45px;
    font-weight: 600;
  }     
  #Main-Content p{
    font-size: 20px;
    font-weight: 400;
  }  
  #Main-Content button{
    padding: 10px 15px;
    font-size: 17px;
    font-weight: 500;
    background-color: white;
    border: 3px solid #16a085;
    color: #16a085;
    border-radius: 10px;
  }   
  #Main-Content button:hover{
    background-color: #16a085;
    color: white;
  }        
                         /* Main Content End */

