*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family:  Helvetica, sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
  
}
#main{
  height: 100%;
  width: 100%;
}
 img{
  height: 150px;
  width: 150px;
  border-radius: 25%;
}
#nav{
  height: 80px;
  width: 100%;
 padding: 10px 30px;
 padding-top: 20px;
 background-color:rgba(255, 255, 255, 0.867);
  display:flex;
  align-items:center;
  justify-content:space-between;
}
#gola{
 font-size: 40px;
 color: #066718;

}
#nav-1{
  display: flex;
  gap: 5px;
  align-items: center;
}
#nav-1 h2{
font-size: 40px;
line-height: 0.5;
font-weight: 500;
color: #13922a;
padding-top: 10px;
}

#nav-1 span{
  font-size: 20px;
  padding-left: 15px;
  font-weight: 400;
}
#nav-2 {
  display: flex;
  align-items: center;
  gap: 50px;
}
#nav-3 button{
  padding:  15px 22px;
  background-color:white ;
  color: #000000;
  border-radius: 100px;
  border: solid 2px black;
  font-size: 16px;
  box-shadow: 5px 5px rgba(125, 120, 120, 0.863);
  position: relative;
}
#nav-2 h4{
  justify-self: center;
  font-size: 22px;
  font-weight: 500;
}
#nav-2 h4:hover{
  color: #16a085
  ;
}


button:hover{
  background-color: #13922a;
}
