*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family:Arial, Helvetica, sans-serif; */
}
html,body{
  height: 100%;
  width: 100%;
}

#main{
  position: relative;
  /* background-color: black; */
}

                                                   /* LOADER */

#loader{
  color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #0B0B0B;
  padding: 25vh 10vw;
}
#line1-part1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
#line1-part1 h5, #line1-part1 h6{
  font-size: 3vw;
  font-weight: 100;
}
#line1-part1 h5{
  width: 5vw;
  text-align: right;
}
.line{
  line-height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5vw;
}
.line h1{
  font-size: 6.3vw;
  text-transform: uppercase;
  font-weight: 900;
}
.line h2{
  font-size: 4.5vw;
  text-transform: uppercase;
  font-weight: 900;
  animation-name: anime;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
@keyframes anime {
  0%{
    font-family: "Gilroy";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  48%{
    font-family: "Gilroy";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }
  50%{
    font-family: 'serif';
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
    opacity: 1;
  }
  100%{
    font-family: 'serif';
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
    opacity: 0;
  }
}

                                                           /* LOADER END */




                                                  /* NAVBAR */

#page1{
  height: 100vh;
  width: 100%;
 background-color: white;
}

#nav{
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
 padding: 10px 30px;
 padding-top: 20px;
 background-color:rgba(255, 255, 255, 0.867);
}
#Heart-Logo{
  font-size: 35px;
  color: #066718;
 
 }
#nav-1{
  display: flex;
  gap: 5px;
  align-items: center;
}
#nav-1 h2{
  font-size: 35px;
  line-height: 0.5;
  font-weight: 500;
  color: #13922a;
  padding-top: 3px;
  }
  
  #nav-2 {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  #nav-3 button{
    padding:  15px 22px;
    background-color:white ;
    color: #000000;
    border-radius: 100px;
    border: solid 2px black;
    font-size: 16px;
    box-shadow: 5px 5px rgba(125, 120, 120, 0.863);
    position: relative;
  }
  #nav-2 a{
    justify-self: center;
    font-size: 22px;
    font-weight: 500;
  text-decoration: none;
  color: #000000;
  }
  #nav-2 a:hover{
    color: #16a085;
  }
  
  
  #nav-3 button:hover{
    background-color: #16a085;
  }


                                                     /* NAVBAR END */
                                                     
                                                     /* Main Content */
  #Main-Page{
    padding: 25px;
    height:80vh;
    /* background-color: blue; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }    
  #Main-Img img{
    height: 80vh;
  }  
  #Main-Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
  }    
  #Main-Content h2{
    font-size: 45px;
    font-weight: 600;
  }     
  #Main-Content p{
    font-size: 20px;
    font-weight: 400;
  }  
  #Main-Content button{
    padding: 10px 15px;
    font-size: 17px;
    font-weight: 500;
    background-color: white;
    border: 3px solid #16a085;
    color: #16a085;
    border-radius: 10px;
  }   
  #Main-Content button:hover{
    background-color: #16a085;
    color: white;
  }        
                         /* Main Content End */
                         /* Service */
   #service-box{
    display: flex;
    
   }                       
  #service-box h2{
    justify-self: center;
    font-size: 20px;
  }

/* Faixu */

.header{
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
}   

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --green:#16a085;
    --black:#000000;
    --light-color:#867e7e;
    --box-shadow:.4rem .4rem 0 rgba(48, 107, 95, 0.584);
    --text-shadow:.3rem .3rem 0 rgba(225, 231, 231, 0.692);
    --border:.2rem solid var(--green);
}


*{
  font-family:  Helvetica, sans-serif;
  margin:0; padding: 0;
  box-sizing: border-box;
  outline: none; 
  border: none;
  text-transform: capitalize;
  /* transition: all .2s ease-out;  */ stops the loader
  text-decoration: none;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

body{
  /* overflow: hidden;  */ stop the website from fully scrolling
}

section{
  padding: 2rem 9%;
}

section:nth-child(even){
  background: #f5f5f5;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  color: var(--black);
  font-size: 5rem;
  letter-spacing: .4rem;
}

.heading span{
  text-transform: uppercase;
  color:var(--green);
}
.btn{
  display: inline-block;
  margin-top: 1rem;
  padding: .5rem;
  padding-left: 1rem;
  border: var(--border);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  color: var(--green);
  cursor: pointer;
  font-size: 1.7rem;
  background: #fff;
}

.btn span{
  padding:.7rem 1rem;
  border-radius: .5rem;
  background: var(--green);
  color: #fff;
  margin-left: .5rem;
}

.btn:hover{
  background: var(--green);
  color: #fff;
}

.btn:hover span{
  color: var(--green);
  background: #fff;
  margin-left: 1rem;
  }
header{
  width: 100%;
  padding:2rem 1%;
  position: fixed;
  top:0;left: 0;right: 0; 
  z-index: 1000;
  background-color: white;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a{
  color: var(--black);
}
header a:hover{
  color: var(--green);
}

header .container .logo{
  font-size: 2.5rem;
  color: var(--black);
}

header .container .logo i{
  color: var(--green);
}

header .nav ul{
  margin:0; padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
header .nav ul li{
  margin: 0 1rem;
}
header .nav ul li a{
  font-size: 2rem;
}




header .fa-bars{
  font-size: 2.5rem;
  border-radius: .5rem;
  background: var(--green);
  color: #fff;
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: none;
}

header .fa-times{
  transform: rotate(180deg);
}

/* media queries */
@media (max-width:768px){

  html{
      font-size: 55%;   
  }

  header .fa-bars{
      display: block;
  }
  header .nav{
      position: fixed;
      top: -100rem; left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 0 0 100vh rgba(0, 0, 0, .3);
      border-radius: .5rem;
      border: .3rem solid var(--green);
      background: #fff;
      width: 95%;
      opacity: 0;
  }

  header .nav ul{
      width: 100%;
      flex-flow: column;
      padding: 2rem 0;
  }

  header .nav ul li{
      width: 100%;
      text-align: center;
      margin: 1rem 0;
  }

  header .nav ul li a{
      font-size: 3rem;
      display: block;
  }

  header .nav-toggle{
      top: 50%;
      opacity: 1;
  }
}




.home{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:1.5rem;
  padding-top: 10rem;
}

.home .image{
  flex:1 1 45rem;
}
.home .image img{
  width: 100%;
}
.home .content{
  flex:1 1 45rem;
}
.home .content h3{
  font-size: 4.5rem;
  color: var(--black);
  line-height: 1.8;
  text-shadow: var(--text-shadow);
}
.home .content p{
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 1.8;
  padding: 1rem 0;
}

.btn{
  cursor: pointer;
}
.icons-container{
  display: grid;
  gap:2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icons-container .icons{
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  text-align: center;
  padding: 2.5rem;
}

.icons-container .icons i{
  font-size: 4.5rem;
  color: var(--green);
  padding-bottom: .7rem;
}

.icons-container .icons h3{
  font-size: 4.5rem;
  color: var(--black);
  padding: .5rem 0;
  text-shadow: var(--text-shadow);
}

.icons-container .icons p{
  font-size: 1.7rem;
  color: var(--light-color);   
}

.services .box-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
}

.services .box-container .box{
  background: #fff;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 2.5rem;
}

.services .box-container .box i{
  color: var(--green);
  font-size: 5rem;
  padding-bottom: .5rem;
}

.services .box-container .box h3{
  color: var(--black);
  font-size: 2.5rem;
  padding:1rem 0;
}

.services .box-container .box p{
  color: var(--light-color);
  font-size: 1.4rem;
  line-height: 2;
}

.box-container .box img{
  height: 90px;
  width: 100px; 
}


.about .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .row .image{
  flex:1 1 45rem;
}

.about .row .image img{
  width: 100%;
}

.about .row .content{
  flex:1 1 45rem;
}

.about .row .content h3{
  color: var(--black);
  text-shadow: var(--text-shadow);
  font-size: 4rem;
  line-height: 1.8;
}

.about .row .content p{
  color: var(--light-color);
  padding:1rem 0;
  font-size: 1.5rem;
  line-height: 1.8;
}

.book .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.book .row .image{
  flex: 1 1 45rem;
}

.book .row .image img{
  width: 100%;
}

.book .row form{
  flex: 1 1 45rem;
  background: #fff;
  border: var(--border);
  box-shadow: var(--box-shadow);
  text-align: center;
  padding: 2rem;
  border-radius: .5rem;
}



.book .row form h3{
  color: var(--black);
  padding-bottom: 1rem;
  font-size: 3rem;
}

.book .row form .box{
  width: 100%;
  margin: .7rem 0;
  border-radius: .5rem;
  border: var(--border);
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
  padding: 1rem;
}

.appointment .row form .btn{
  padding: 1rem 4rem;
}


